#define WIN32_LEAN_AND_MEAN
#include <windows.h>
#include <winver.h>
#undef WIN32_LEAN_AND_MEAN
#include "resource.h"
#include "..\..\..\..\SDKs\STLPort\stlport\stl\_stlport_version.h"

#include "afxres.h"

#ifdef GCC_WINDRES
VS_VERSION_INFO		VERSIONINFO
#else
VS_VERSION_INFO		VERSIONINFO	MOVEABLE IMPURE LOADONCALL DISCARDABLE
#endif
  FILEVERSION		_STLPORTLIB_VERSIONHIGHSTR
  PRODUCTVERSION	_STLPORTLIB_VERSIONHIGHSTR
  FILEFLAGSMASK		VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
  FILEFLAGS		1
#else
  FILEFLAGS		0
#endif
  FILEOS		VOS__WINDOWS32
  FILETYPE		VFT_DLL
  FILESUBTYPE		0	// not used
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    //language ID = U.S. English, char set = Windows, Multilingual
    BEGIN
	VALUE "CompanyName", "STLport Consulting, Inc."
      VALUE "FileDescription",	"STLport"
      VALUE "FileVersion",	_STLPORTLIB_VERSIONSTR 
      VALUE "InternalName",	"stlport" STLPORTLIB_BUILD_ ".dll" 
      VALUE "LegalCopyright",	"Copyright (C) Boris Fomitchev 2013"
      VALUE "Copyright",	"Copyright (C) Boris Fomitchev 2013"
      VALUE "OriginalFilename",	"stlport" STLPORTLIB_BUILD_ ".dll" 
      VALUE "ProductName",	"STLport Standard ANSI C++ Library"
      VALUE "ProductVersion",	_STLPORTLIB_VERSIONSTR 
      VALUE "Comments",		"For more information visit http://stlport.sourceforge.net "
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1252
  END
END
